
*.csv
homework/Day_008_HW.ipynb
homework/Day_010_HW.ipynb
homework/Day_016_HW.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/Day_015_HW.ipynb
homework/Day_015_HW.ipynb
homework/Day_015_HW.ipynb
